work/
.nextflow*
.nf-test/
tests/data/*.svs
tests/data/*.tiff
tests/data/*.tif
tests/data/*.ndpi
tests/data/*.scn
tests/results/
tests/results_two_step/
.nf-test.log
bin/__pycache__/
tests/results_multi_slide/
